body {
  background-color: white;
  font-family: cursive;
  margin: 0;
  padding: 0;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}

.logo {
  position: relative;
  display: flex;
  bottom: 20px;
  right: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.a {
  display: flex;
  text-decoration: none;
  color: #d84f24;
  font-weight: bolder;
  font-size: 20px;
}

.cta {
  display: flex;
  gap: 20px;
}

.button-cta {
  background-color: #d84f24;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 7px;
  height: 45px;
  width: 100px;
  cursor: pointer;
}

.button-sign {
  background-color: #ffffff;
  font-weight: bold;
  color: #d84f24;
  font-size: 16px;
  padding: 10px;
  border: 3px solid #d84f24;
  border-radius: 7px;
  height: 45px;
  width: 100px;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px 100px 40px;
}

.intro {
  flex: 1;
}
.welcome {
  font-size: 40px;
  font-weight: bold;
}

#intro-para {
  display: flex;
  font-size: 25px;
  padding-bottom: 20px;
}

#Explore {
  background-color: #d84f24;
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 15px;
  border: none;
  border-radius: 7px;
  width: 200px;
  cursor: pointer;
}

#main {
  margin: 40px;
  font-size: 40px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  padding: 20px;
  width: 100%;
  height: 50%;
  max-width: 1400px;
}

.images {
  display: flex;
  border-radius: 15px;
  width: 100%;
  height: 50%;
}

.items {
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 2px 6px black;
  margin: 0 auto;
}

h3 {
  font-size: 25px;
  margin: 0;
  padding: 15px 0 10px;
}

#options {
  display: flex;
  gap: 20px;
}

#choco {
  font-size: 15px;
  border: 2px solid #af6900;
  border-radius: 15px;
  color: white;
  background-color: #ffb547;
  padding: 3.34px 6.68px 3.34px 6.68px;
}

#red {
  font-size: 15px;
  color: white;
  border: 2px solid #af0000;
  background-color: #ff4747;
  border-radius: 15px;
  padding: 3.34px 6.68px 3.34px 6.68px;
}

#blue {
  background-color: #4791ff;
  font-size: 15px;
  border: 2px solid #0051af;
  color: white;
  border-radius: 15px;
  padding: 3.34px 6.68px 3.34px 6.68px;
}

#order {
  background-color: #f15526;
  color: white;
  width: 100%;
  padding: 12px;
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
}

.svg {
  position: relative;
  cursor: pointer;
}

.amount {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  color: black;
  background-color: #d84f24;
  height: 250px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h4 {
  text-decoration: none;
  font-size: 25px;
  margin: 70px 0 45px 0;
  color: #ffffff;
}

h2 {
  color: #ffffffff;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 10px;
    margin: 10px;
  }

  .nav {
    display: none;
  }

  .cta {
    gap: 10px;
  }

  .hero {
    flex-direction: column;
    margin: 20px;
    text-align: center;
  }

  .intro-image {
    order: -1;
    margin-bottom: 20px;
  }

  .intro-image img {
    max-width: 100%;
    height: auto;
  }

  #Explore {
    margin: 0 auto;
  }

  .welcome {
    font-size: 32px;
  }

  #intro-para {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
  }

  footer {
    height: 70%;
  }

  .footer .h4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
  }

  .h4 span {
    display: none;
  }
}
